.logo{
    display: block;
    margin: 200px auto auto auto;
}


}
.search-bar input{
    height: 44px;
    width: 400px;
    border-radius: 20px;
    border:4px;
    border-color: gray;
    margin: 0 auto;
}