.logo-container{
    display:block;
    margin: 158px auto 30px auto;
}

.form-container{
    display: inline-block;
}

.form-container input {
    height:44px;
    margin: 0 auto;
    width:482px;
    position: relative;
    border-radius: 24px;
    border: 1px solid gray;
}